<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" (click)="isMenuCollapsed = true" routerLink="/">
        <img src="assets/logo.png" height="60" alt="">&nbsp;&nbsp;
        <img src="assets/AEFE-AP-crop.png" height="60" alt="">
        <span class="h2 mb-0 ml-3 align-middle">LES ZENIGMES</span>
    </a>
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed" id="navbarSupportedContent">
        <ul class="ml-auto navbar-nav ">
            <li class="nav-item" *ngIf="auth.getUser() | async as user; else loggedOutPanel">
                <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
                    <button style="min-width: 100px;" class="btn btn-light-primary mr-2" id="logged-in-user"
                        ngbDropdownToggle>{{user.prenom}} {{user.nom}}</button>
                    <div ngbDropdownMenu aria-labelledby="logged-in-user">
                        <button (click)="isMenuCollapsed = true" routerLink="profile" ngbDropdownItem>Votre
                            profil</button>
                        <button (click)="auth.logout()" ngbDropdownItem routerLink="/">Se deconnecter</button>
                    </div>
                </div>
            </li>


            <li class="nav-item">
                <a class="nav-link" (click)="isMenuCollapsed = true" routerLink="contact">Contact<span
                        class="sr-only">(current)</span></a>
            </li>

        </ul>
    </div>
</nav>

<ng-template #loggedOutPanel>
    <li class="nav-item">
        <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-light-primary mr-2" id="dropdownManual" ngbDropdownToggle>Enseignants</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <app-login-enseignant></app-login-enseignant>
                <div class="dropdown-divider"></div>
                <button ngbDropdownItem routerLink="register-enseignant">
                    Nouveau dans le coin? Creez votre compte!
                </button>
                <app-forgot-password></app-forgot-password>
            </div>
        </div>
    </li>

    <li class="nav-item">
        <div class="d-inline-block" ngbDropdown #myDrop2="ngbDropdown">
            <button class="btn btn-light-primary mr-2" id="dropdownManual" ngbDropdownToggle>Eleves</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <app-login-eleve></app-login-eleve>
                <div class="dropdown-divider"></div>
                <app-code-entry (closeEvent)="myDrop2.close()" ></app-code-entry>
            </div>
        </div>
    </li>
</ng-template>