<h1 class="mb-5">Eleves</h1>




<form>
    <div class="mb-3">
        <label for="validationCustom01" class="form-label">First name</label>
        <input type="text" class="form-control" id="validationCustom01" value="Mark" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    <div class="mb-3">
        <label for="validationCustom02" class="form-label">Last name</label>
        <input type="text" class="form-control" id="validationCustom02" value="Otto" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>
    
    <div class="mb-3">
        <label for="validationCustom02" class="form-label">Rejoindre le groupe</label>
        <input type="text" class="form-control" id="validationCustom02" value="Code de groupe" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>


    <div class="mb-3">
        <label for="validationCustom02" class="form-label">Nom d'utilisateur</label>
        <input type="text" class="form-control" id="validationCustom02" value="ptitnain" required>
        <div class="valid-feedback">
            Looks good!
        </div>
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>

    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Confirmez le mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1">
    </div>


    

    <button type="submit" class="btn btn-primary">Rejoindre mon groupe</button>
</form>