

<ngb-alert type="success" *ngIf="success" (closed)="success=false" >
    les Modifications ont bien été apportés
</ngb-alert>

<form [formGroup]="formDetails" (ngSubmit)="onSubmit()" *ngIf="user$ |async as user">
    <div class="form-group">
    <div class="row mt-2">
        <div class="col-md-6">
            <label class="labels">Nom</label>
            <input type="text" class="form-control" placeholder="nom" formControlName="nom" value="">
        </div>
        <div class="col-md-6">
            <label class="labels">Prénom</label>
            <input type="text" formControlName="prenom" class="form-control" value="" placeholder="prenom">
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-12" *ngIf="user.eleve">
            <label class="labels">Nom d'utilisateur</label>
            <input type="text" class="form-control" placeholder="enter phone number" formControlName="username" value=""></div>
        <div class="col-md-12" *ngIf="user.enseignant">
            <label class="labels">Email ID</label>
            <input type="text" autocomplete="email" class="form-control" placeholder="enter email id" formControlName="email" value="">
        </div>
    </div>
</div>
    <div class="form-group card mt-3 p-3 bg-light">
        <h6 >Changez votre mot de passe</h6>
        <div class="row" formGroupName="passwordGroup">
            <div class="col mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" autocomplete="new-password" class="form-control" id="password" formControlName="password">
            </div>
    
            <div class="col mb-3">
                <label for="password-confirm" class="form-label">Confirmez le mot de passe</label>
                <input type="password" autocomplete="new-password" class="form-control" id="password-confirm" formControlName="confirmPassword">
            </div>
        </div>
    </div>

    <div class="form-group" >
        <h6 >Votre établissement scolaire</h6>

        <div class="row g-3">

            <div class="form-group col-md-4">
                <label for="pays">Pays</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="country" id="pays">
                    <option disabled selected>Choose...</option>
                    <option *ngFor="let item of getCountries();" [value]="item">{{item}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="ville">Ville</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="town" id="ville">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of getVilles(getSelectedCountry());" [value]="item">{{item}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="etablissement">Etablissement</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="etablissement" id="etablissement">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of getEtablissements(getSelectedCountry(),getSelectedVille());"
                        [value]="item">{{item}}</option>
                </select>
            </div>

        </div>
    </div>

    <div class="mt-3 text-center">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary" type="button">Sauvegarder les changements</button>
    </div>

</form>