body {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  md-whiteframe {
    background: #fff;
  }
  
  #content {
    padding: 24px;


}

.page   {
    position: absolute;
    bottom: 0;
    padding-bottom: 40px;
    margin-bottom: 20px;
    border-bottom: 20px;
    top: 70px;
    width: 100%;
    overflow: auto;
}
  
  