body {
    overflow: hidden;
    background-color: #ffffff;
  }
  
  md-whiteframe {
    background: #fff;
  }
  
  #content {
    padding: 24px;
}

.page   {
    bottom: 0;
    padding-bottom: 50px;
    overflow: auto;
    height: 100%;
}
  
  