<form class="px-4 py-3" [formGroup]="formDetails" (ngSubmit)="onSubmit()">
    <div class="alert alert-danger" role="alert" *ngIf="error">
        {{getError(error)}}
    </div>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
        <input type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        <div *ngIf="email?.touched && email?.invalid" class="text-danger">
            <div>email pas bon</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
        <input type="password" formControlName="password" class="form-control" id="exampleInputPassword1">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formDetails.status=='INVALID'">Soumettre</button>
</form>