<form class="px-4 py-3" [formGroup]="formDetails" (ngSubmit)="onSubmit()">
    <ngb-alert type="danger"  *ngIf="error" (closed)="error=false" >
        {{getError(error)}}
    </ngb-alert>
    
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
        <input autocomplete="email" type="email" formControlName="email" class="form-control" id="exampleInputEmail1"
            aria-describedby="emailHelp">
        <div *ngIf="email?.touched && email?.invalid" class="text-danger">
            <div>email pas bon</div>
        </div>
    </div>
    <div class="mb-3">
        <label for="password-enseignant" class="form-label">Mot de passe</label>
        <input type="password" autocomplete="new-password" formControlName="password" class="form-control" id="password-enseignant">
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="formDetails.status=='INVALID'">Soumettre</button>
</form>