<h1 class="mb-5">Enseignants</h1>

<div class="alert alert-danger" role="alert" *ngIf="error">
    <div *ngIf="error.code == 'auth/email-already-in-use'; else elseBlock">
        L'EMail est déja utilisé
    </div>
    <ng-template #elseBlock>{{error}}</ng-template>
    
  </div>


<form [formGroup]="formDetails" (ngSubmit)="onSubmit()">
    <div class="row g-3">
        <div class="col mb-3">
            <label for="validationCustom01" class="form-label">Nom</label>
            <input type="text" class="form-control" id="validationCustom01" formControlName="nom" required>
        </div>
        <div class="col mb-3">
            <label for="validationCustom02" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="validationCustom02" formControlName="prenom" required>
        </div>
    </div>

    <div class="row g-3">
        <div class="col mb-3">
            <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                formControlName="email" autocomplete="email">
            <div *ngIf="email?.touched && email?.invalid" class="text-danger">
                <div>email pas bon</div>
            </div>
        </div>

        
    </div>


    <div class="row g-3" formGroupName="passwordGroup">
        <div class="col mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input type="password" autocomplete="new-password" class="form-control" id="exampleInputPassword1" formControlName="password">
            <div *ngIf="pwd?.touched && pwdCf?.touched && pwdGroup?.invalid" class="text-danger">
                <div *ngIf="pwdGroup?.errors">mot de passe ne correspondent pas</div>
                <div *ngIf="!pwdGroup?.errors">Minimum 6 caractères</div>
            </div>
        </div>

        <div class="col mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmez le mot de passe</label>
            <input type="password" autocomplete="new-password" class="form-control" id="exampleInputPassword1" formControlName="confirmPassword">
        </div>
        
    </div>

    <div class="form-group">
        <label for="formGroupExampleInput">Selection de l'établissement scolaire</label>

        <div class="row g-3">

            <div class="form-group col-md-4">
                <label for="pays">Pays</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="country" id="pays">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of getCountries();" [value]="item">{{item}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="ville">Ville</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="town" id="ville">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of getVilles(getSelectedCountry());" [value]="item">{{item}}</option>
                </select>
            </div>

            <div class="form-group col-md-4">
                <label for="etablissement">Etablissement</label>
                <select class="custom-select my-1 mr-sm-2" formControlName="etablissement" id="etablissement">
                    <option selected>Choose...</option>
                    <option *ngFor="let item of getEtablissements(getSelectedCountry(),getSelectedVille());" [value]="item">{{item}}</option>
                </select>
            </div>

        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="formDetails.status=='INVALID'" >Soumettre</button>
</form>



<ng-template #merci let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Votre compte à bien été créé</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <p>Vous pouvez dés à présent  <a (click)="modal.close('Confirm')" routerLink="/profile">créer vos classes</a> et inviter vos élèves</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Confirm')">fermer</button>
    </div>
  </ng-template>