<h1 class="mb-5">Enseignants</h1>

<form [formGroup]="formDetails" (ngSubmit)="onSubmit()">
    <div class="row g-3">
        <div class="col mb-3">
            <label for="validationCustom01" class="form-label">Nom</label>
            <input type="text" class="form-control" id="validationCustom01" placeholder="Duchaussoy" required>
        </div>
        <div class="col mb-3">
            <label for="validationCustom02" class="form-label">Prénom</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="Roger" required>
        </div>
    </div>

    <div class="row g-3">
        <div class="col mb-3">
            <label for="exampleInputEmail1" class="form-label">Adresse Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
    
        <div class="col mb-3">
            <label for="validationCustom02" class="form-label">Nom d'utilisateur</label>
            <input type="text" class="form-control" id="validationCustom02" placeholder="furieux-dragon" required>
        </div>
    </div>
    

    <div class="row g-3">
        <div class="col mb-3">
            <label for="exampleInputPassword1" class="form-label">Mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>

        <div class="col mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmez le mot de passe</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
    </div>

    <div class="row g-3">
        <div class="col-2">
            <div class="mb-3" ngbDropdown #myDrop="ngbDropdown">
                <button class="btn btn-success mr-2" id="dropdownManual" ngbDropdownToggle>Pays</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem>Pakistan</button>
                    <button ngbDropdownItem>Ethiopie</button>
                    <button ngbDropdownItem>Hawai</button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3" ngbDropdown #myDrop2="ngbDropdown">
                <button class="btn btn-success mr-2" id="dropdownManual" ngbDropdownToggle>Ville</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem>Chatillon</button>
                    <button ngbDropdownItem>Noisiel</button>
                    <button ngbDropdownItem>Saulnes</button>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="mb-3" ngbDropdown #myDrop3="ngbDropdown">
                <button class="btn btn-success mr-2" id="dropdownManual" ngbDropdownToggle>Etablissement</button>
                <div ngbDropdownMenu aria-labelledby="dropdownManual">
                    <button ngbDropdownItem>Louis le grand</button>
                    <button ngbDropdownItem>Henri IV</button>
                    <button ngbDropdownItem>Lafontaine</button>
                </div>
            </div>
        </div>

    </div>



    <button type="submit" class="btn btn-primary">Soumettre</button>
</form>