<app-class-creation-form class="mb-3"></app-class-creation-form>

<div *ngIf="classGroups$ | async as classGroups">
  <h4 *ngIf="classGroups.length>0">Classes sous votre responsabilités</h4>
<div class="row" *ngFor="let group of classGroups">
  <div class="col-lg-6 mb-3" *ngFor="let classe of group">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{classe.className}}</h5>
        <p><span style="font-weight: bold;">Professeur:&nbsp;</span><span>{{classe.teacher}}</span></p>
        <p><span style="font-weight: bold;">Code:&nbsp;</span><span>{{classe.id}}</span></p>
        <button disabled type="button" class="btn btn-primary mr-2">Modifier Classe</button>
        <button type="button" (click)="deleteClass(classe)" class="btn btn-danger">Effacer Classe</button>
      </div>
    </div>
  </div>
</div>
</div>
