<div class="container rounded bg-white mt-5 mb-5" *ngIf="auth.getUser() | async as user">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5"
                    width="150px"
                    [src]="gravatarUrl(user.email)">
                    <span class="font-weight-bold">
                        {{user.prenom}}&nbsp;{{user.nom}}
                    </span>
                    <span class="text-black-50">
                        {{user.email}}
                    </span>
                    <span></span></div>
        </div>
        <div class="col-md-8">
            <div class="p-3 py-5">
                <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">
                    <ngb-panel id="profile-panel">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <button style="border-width: 0;font-weight: bold;" ngbPanelToggle class="btn btn-outline-dark btn-lg container-fluid text-left"><fa-icon [icon]="faProfile"></fa-icon> &nbsp;   Mon Profil</button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Nom</label><input type="text"
                                        class="form-control" placeholder="nom" value=""></div>
                                <div class="col-md-6"><label class="labels">Prénom</label><input type="text"
                                        class="form-control" value="" placeholder="prenom"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                        class="form-control" placeholder="enter phone number" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                        class="form-control" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                        class="form-control" placeholder="enter email id" value=""></div>
                                <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                        class="form-control" placeholder="education" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                        class="form-control" placeholder="country" value=""></div>
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                        class="form-control" value="" placeholder="state"></div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="class-panel">
                        <ng-template ngbPanelHeader let-opened="opened">
                            <div class="d-flex align-items-center justify-content-between">
                                <button style="border-width: 0;font-weight: bold;" ngbPanelToggle class="btn btn-outline-dark btn-lg container-fluid text-left"> <fa-icon [icon]="faSchool"></fa-icon> &nbsp;   Ma classe</button>
                            </div>
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-2">
                                <div class="col-md-6"><label class="labels">Name</label><input type="text"
                                        class="form-control" placeholder="first name" value=""></div>
                                <div class="col-md-6"><label class="labels">Surname</label><input type="text"
                                        class="form-control" value="" placeholder="surname"></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text"
                                        class="form-control" placeholder="enter phone number" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 1</label><input type="text"
                                        class="form-control" placeholder="enter address line 1" value=""></div>
                                <div class="col-md-12"><label class="labels">Address Line 2</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Postcode</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">State</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Area</label><input type="text"
                                        class="form-control" placeholder="enter address line 2" value=""></div>
                                <div class="col-md-12"><label class="labels">Email ID</label><input type="text"
                                        class="form-control" placeholder="enter email id" value=""></div>
                                <div class="col-md-12"><label class="labels">Education</label><input type="text"
                                        class="form-control" placeholder="education" value=""></div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-6"><label class="labels">Country</label><input type="text"
                                        class="form-control" placeholder="country" value=""></div>
                                <div class="col-md-6"><label class="labels">State/Region</label><input type="text"
                                        class="form-control" value="" placeholder="state"></div>
                            </div>
                        </ng-template>
                    </ngb-panel>
                </ngb-accordion>

                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Sauvegarder les changements</button></div>
            </div>
        </div>
    </div>
</div>